@import "tailwindcss";

.text-input {
    background-color: var(--input-background);
    color: var(--text);
    border: var(--border) solid 1px;
}

.text-input:focus {
    outline: none;
}

.color-muted {
    color: var(--muted)
}

.color-accent {
    color: var(--accent)
}

.color-border-light {
    color: var(--border-light)
}